.popup {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.1);
  &__text {
  }
  &__button {
    padding: 10px;
  }
}
.show {
  display: flex;
}
