.app {
  padding: 10px;
}
.header {
  position: relative;
}

.main {
  display: flex;
  gap: 20px;
}
.your {
  padding: 5px;
  width: 100%;
}

@media screen and (max-width: 400px) {
  h1 {
    display: none;
  }
  .textarea {
    display: none;
  }
}
